{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["*.js"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "import"],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "pk-standard"
  ],
  "rules": {
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": 0
  }
}